body{
    margin: 10px;
    padding: 10px;
}

h1{
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 100px;
}

img{
    display:block;
    max-width:100%;
    height:auto;
    margin: auto;
    margin-bottom: 40px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: center;
}

.flex-item{
    border: 3px solid black;
    padding: 25px;
}

h2:hover{
    text-decoration: underline;
}

.flex-item:hover{
    background-color: black;
    color: white;
}

.flex-item-center{
    min-width: 50%;
}

.flex-item-big{
    min-width: 65%;
    padding: 0%;
}

.flex-item-small{
    max-width: 100%;
}

.list-container{
    display: inline;
    text-align: left;
    
}

/* Colors */
.dt-item:hover{
    text-decoration: underline;
}

.dt-item{
    padding: 16px;
    flex-direction: column;
    color: black;
}

.dt-item:nth-child(1){
    background-color: aqua;
}

.dt-item:nth-child(2){
    background-color: plum;
}

.dt-item:nth-child(3){
    background-color: blueviolet;
}

.dt-item:nth-child(4){
    background-color: brown;
}

.dt-item:nth-child(5){
    background-color: coral;
}


/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }