html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body {
    background-image: url(../static/background.jpeg);
    background-size: 100% 100%;
    font-size: 3rem;
    background-color: dimgray;
}

.flex{
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    height: 100vh;

    .flex-content{
        padding: 30px;
        margin-left: 50px;
    }

    .imgHeader{
        
        justify-content: flex-end;
        margin: 10px;
    }
}



.card{
    flex-direction: row;
    border-radius: 5%;
    margin: auto;
    overflow: hidden; /*ocultar sobrante*/
    border: 3px solid black;
    width: 300px;
    background-color: peru;
    height:auto;
    .card-footer{
        width: auto;
        height: auto;
        background-color: bisque;
        margin: 20px;
        overflow: hidden;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5px;
        .pokemoName{
            font-size: 3.5rem;
            text-align: center;
        }
        .pokemonNumber{
            text-align: end;
            margin: auto;
            justify-content: flex-end;
        }
    }
}


.pokemonImg{
    background-image: url(../static/background-card.jpeg);
    border: 2px solid black;
    height: 50%;
    margin: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#pokemon{
    width: 200px;
    height: 200px;
}

.btn{
    margin: 20px 0 0 15%;
    flex-direction: column;
}

