html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: black;
  color: white;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  margin: auto;
}

.body {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "navbar navbar navbar navbar navbar navbar"
    "left middle middle middle middle right"
    "footer footer footer footer footer footer";
}

.left,
.middle,
.right {
  padding: 10px;
  min-height: 480px; /* Should be removed. Only for demonstration */
}

/* Style the left column */
.left {
  grid-area: left;
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
}

/* Style the footer */
.footer {
  grid-area: footer;
  height: 50px;
  background-color: #3369a7;
  padding: 5px;
  color: #fcca05;
  text-align: center;
  font-size: 30px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media (max-width: 600px) {
  .body {
    grid-template-areas:
      "header header header header header header"
      "navbar navbar navbar navbar navbar navbar"
      "left left left left left left"
      "middle middle middle middle middle middle"
      "right right right right right right"
      "footer footer footer footer footer footer";
  }
}

.navbar {
  grid-area: navbar;
  display: flex;
  flex-direction: row;
  min-width: 100%;
  justify-content: space-evenly;
  background-color: #3369a7;
  height: 80px;
}

a {
  text-decoration: none;
  color: #fcca05;
}

a:hover {
  text-decoration: underline;
  font-size: 20px;
}

.header {
  color: #3369a7;
  grid-area: header;
  text-align: center;
  text-decoration: underline;
  background-color: #fcca05;
}

.container-deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 680px;
  margin: auto;
  margin-top: 50px;
  box-sizing: content-box;
}

.top-left {
  position: absolute;
  height: 150px;
  width: 225px;
  border: 2px solid black;
  border-radius: 5%;
  margin-top: 147px;
  margin-right: 345px;
}
.top-right {
  position: absolute;
  margin-top: 185px;
  margin-left: 340px;
  height: 125px;
  width: 125px;
}

.bottom-left {
  position: absolute;
  margin-top: 425px;
  margin-right: 415px;
  height: 125px;
  width: 125px;
}

.bottom-left:hover {
  color: black;
  cursor: pointer;
}

.top-left-img {
  position: absolute;
  margin-top: 160px;
  margin-right: 345px;
  height: 125px;
  width: 125px;
}
